.text-brown {
    color: #744D31;
}
.text-orange {
    color: #E57F35;
}
.bg-light-custom {
    background-color: #FFF8F0;
}
.vstack h3{
    color:#D99A6C !important;
}
.text-warning
{
    color:#f19554 !important;
}